[MESSAGES CONTROL]

disable=
	missing-module-docstring,
	missing-class-docstring,
	missing-function-docstring,

	import-error,
	no-name-in-module,

	line-too-long,
	invalid-name,

	no-else-return,
	no-else-raise,
	use-implicit-booleaness-not-comparison,
	consider-using-in,
	consider-using-enumerate,
	
	too-many-locals,
	too-many-branches,
	too-many-arguments,
	too-many-locals,
	too-many-instance-attributes,
	too-many-public-methods,
	too-many-nested-blocks,
	too-many-statements,
	too-many-function-args,
	too-few-public-methods,
	too-many-lines,
	too-many-return-statements,

	fixme,
	consider-using-f-string,
	logging-fstring-interpolation,
	wildcard-import
