<!DOCTYPE html>
<html>
<head>
   <link rel="stylesheet" href= "{{ url_for('static', filename = 'basic.css') }}">
   <meta name="viewport" content="width=device-width, initial-scale=1" />
   <title>temper</title>
   <link rel="shortcut icon" type="image/jpg" href="{{ url_for('static', filename = 'icon.png') }}"/>
</head>
<body>
<div class="normal">

<h1>Temperament calculator</h1>
<hr>

<form action = "{{ url_for('result') }}" method = "GET">
   <p><input type = "text" name = "edos" /> list of edos</p>
   <p><input type = "text" name = "subgroup" /> prime limit or subgroup</p>
   <p><input type = "submit" value = "submit" /></p>
</form>

</div>
</body>
</html>

